@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome yo!</h1>
        <p>This website is all about learning : https://github.com/shiham55/AwesomeDotNetCore</p>
        <ul>
            <li>
                <a class="fa fa-shopping-cart" href="/home/products">Products</a>
            </li>
            <li>
                <a class="fa fa-home" href="/home/stores">Stores</a>
            </li>
        </ul>
    </div>
