
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<ul>
    <li><a href="/play">/play</a></li>
    <li><a href="/play/insert">/play/insert</a></li>
    <li><a href="/play/insertUow">/play/insertUow</a></li>
</ul>